

 <table >
 
        <thead>
          <tr>
              <th style="text-align:center">Name</th>
              <th style="text-align:center">Email</th>
              <th style="text-align:center">Books rented</th>
               <th style="text-align:center">Rented at</th>
          </tr>
        </thead>

        <tbody>
          <tr>
              <td style="text-align:center"><%= user.name.capitalize() %></td>
              <td style="text-align:center"><%= user.email%></td>
              <td>
                  <% @books.each do |book|%>
                    <ul> 
                      <li class="Student_user"> 
                        <%=link_to book.title, book%>
                      </li>
                    </ul>
                  <% end %>
              </td>
            <% unless current_user.role.eql?("admin")%>
              <td>
                <% @books.each do |book|%>
                      <ul> 
                        <li class="Student_user">  
                            <%= @rented_at.find_by(user_id:current_user.id,book_id:book.id).created_at%> 
                        </li>
                      </ul>
                  <% end %>
              </td> 
            <% end %> 
            <% if current_user.role.eql?("admin")%>
              <td>
                <% @books.each do |book|%>
                      <ul> 
                        <li class="Student_user">  
                            <%= @rented_at.find_by(user_id:user.id,book_id:book.id).created_at%> 
                        </li>
                      </ul>
                  <% end %>
              </td> 
            <% end %>
          </tr>
        </tbody>
     
  </table>

 
</div>
