

<p style="color: green"><%= notice %></p>

<div class="container" style="position: absolute; top:20%;left:20%;">
    <% unless current_user.role.eql?("admin")%>
        <% if current_user.id == @user.id %>
            <%= render @user %>
        <% else %>
            <p class="container" style="color: red;font-size:30px;" >PERMISSION DENIDED </p>
        <% end %>
    <% else %>
      <%= render @user %>
    <% end %>

    <br/>
    
    <div style="display: inline float:right;">
      <% if current_user.role.eql?("admin")%>
        <div style="margin:10px;padding;15px; float:right;"> <%= link_to "Edit this user", edit_user_path(@user) %> </div>
        <div style="margin:10px;padding;15px;float:right;"> <%= button_to "Destroy this user", @user, method: :delete %></div>  
      <% end %>
    </div>
 
</div>
